

  <!-- container section start -->
  <section id="container" class="">
      


      <div class="container">

  <form class="login-form" role="form" action="/auth/local/" method="post">        
    <div class="login-wrap">
        
         <div class="row text-center">
          <h2>Iniciar Sesión</h2>
        </div>
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <% if(typeof msg != 'undefined'){ %>
          <%=msg%>
        <% } %>
        <% if (errors) {%>
          <% errors.forEach(function (error) { %>
            <%= __(error) %>
          <% }) %>
        <% } %>
         <% if (Object.keys(providers).length && false) {%>
          <h4>Ingresar con...</h4>
          <div class="row text-center">
            <% Object.keys(providers).forEach(function (key) { %>
              <a href="/auth/<%= providers[key].slug %>" role="button">
                <h1 style="color:#34aadc" class="col-md-4">
                  <span class="<%= providers[key].icon %>"></span>
                </h1></a>
            <% }) %>
          
        </div>
        <% } %>
        <!--div class="row text-center">
          <hr class="col-md-3"><span class="col-md-3">O bien</span><hr class="col-md-3">
          
          
        </div-->
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" name="identifier" required class="form-control" placeholder="Username" autofocus title="Por favor llena este campo."

Ver más en: http://www.iteramos.com/pregunta/11912/forma-html5-requiere-atributo-set-mensaje-de-validacion-personalizada>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            <input type="password" name="password" required minlength=8 class="form-control" placeholder="Password" title="Por favor llena este campo. Mínimo 8 caractéres.">
        </div>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
            <span class="pull-right"> <a href="/forgot"> Olvidé mi contraseña</a></span>
        </label>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        <button class="btn btn-info btn-lg btn-block" type="button" onclick="window.location='/register'">Registrate</button>
       

    </div>
  </form>




</div>


  </section>
 