<section id="container" class="">
	<div class="container">
		<form class="login-form" role="form" action="/auth/local/register" method="post">        
			<div class="login-wrap">
				<% if (errors) {%>
				<% errors.forEach(function (error) { %>
				<%= __(error) %>
				<% }) %>
				<% } %>
				<div class="row text-center">
					<h2>Registro</h2>
					<br>
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon_profile"></i></span>
					<input type="text"  name="username" placeholder="Username" required class="form-control" autofocus autocomplete="off" >
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon_mail"></i></span>
					<input type="email" name="email"  placeholder="Email" required class="form-control" autofocus autocomplete="off" >
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon_key_alt"></i></span>
					<input type="password" name="password" placeholder="Password" required minlength=8 class="form-control" >
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Crear Cuenta</button>
			</div>
		</form>
	</div>
</section>
