<section id="container" class="">
	<div class="container">
		<form class="login-form" role="form" action="/reset" method="post">        
			<div class="login-wrap">
				<div class="row text-center">
					<h2>Reestablecer Contrase単a</h2>
					<br>
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon_profile"></i></span>
					<input type="password"  name="password" placeholder="Escribe tu nueva contrase単a" required class="form-control" minlength=8 autofocus autocomplete="off" >
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon_profile"></i></span>
					<input type="password"  name="confirm" placeholder="Confirma la contrase単a" required class="form-control" minlength=8 autofocus autocomplete="off" >
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Reestablecer Contrase単a</button>
			</div>
		</form>
	</div>
</section>
